
body {
  margin: 0;
  line-height: normal;
}


:root {
  
  /* fonts */
  --font-pretendard: Pretendard;
  
  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  
  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d4d8e0;
  --color-black: #000;
  --color-dimgray-100: #666;
  --color-dimgray-200: #565f70;
  --color-darkslategray: #363d49;
  --color-lightgray-100: #c8cfdb;
  --color-lightgray-200: #ccc;
  
  /* Gaps */
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  
  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  
  /* Border radiuses */
  --br-9xs: 4px;
  
}

.deepl-api-auth {
  position: relative;
  font-weight: 600;
}
.vector-icon {
  width: 16px;
  position: relative;
  height: 12.5px;
}
.div {
  position: relative;
  text-decoration: underline;
  font-weight: 600;
}
.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--font-size-sm);
  color: #3287ff;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.api-key {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-base);
}
.div1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.button {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: #494cb0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  min-width: 120px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  border: none;
}
.input-api {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
  color: #999;
  overflow: hidden;
}
.api {
  align-self: stretch;
  background-color: #f4f7fb;
  border-bottom: 1px solid var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
  min-height: 64px;
}
.arrow-stroke-icon {
  width: 9px;
  position: relative;
  height: 5.5px;
}
.arrow {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-10xs);
  box-sizing: border-box;
}
.dropdown-original {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--padding-base);
}
.ico-translation-icon {
  width: 14px;
  position: relative;
  height: 12px;
}
.button1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: #4583ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  min-width: 120px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  border: none;
}
.conversion {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.th {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-dimgray-200);
  border-top: 1px solid var(--color-darkslategray);
  border-bottom: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.text {
  flex: 1;
  position: relative;
}
.td {
  width: 175px;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  min-height: 35px;
}
.td2 {
  width: 175px;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  min-height: 35px;
  color: var(--color-black);
}
.tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.td4 {
  width: 175px;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  min-height: 35px;
}
.td5 {
  align-self: stretch;
  width: 175px;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  min-height: 35px;
}
.td6 {
  align-self: stretch;
  width: 175px;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  min-height: 35px;
  color: var(--color-black);
}
.tbody {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-dimgray-100);
  
}

.thead {
  width: 700px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 600;
}
.table-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-lightgray-100);
}
.translation-area {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);

}
.body {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-pretendard);
  overflow-y: auto;  
}

