
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-pretendard: Pretendard;
    
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-base: 16px;
    
    /* Colors */
    --color-white: #fff;
    --color-gainsboro: #d4d8e0;
    --color-black: #000;
    --color-dimgray-100: #666;
    --color-dimgray-200: #565f70;
    --color-darkslategray: #363d49;
    --color-lightgray-100: #c8cfdb;
    --color-lightgray-200: #ccc;
    
    /* Gaps */
    --gap-5xs: 8px;
    --gap-9xs: 4px;
    
    /* Paddings */
    --padding-base: 16px;
    --padding-5xs: 8px;
    --padding-8xs: 5px;
    --padding-10xs: 3px;
    
    /* Border radiuses */
    --br-9xs: 4px;
    
}